<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.nac01_mobile">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".TelaSobre" android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".WebMagalu"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".WebEbay"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".WebAmericanas"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".WebBuscape"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".WebNetshoes"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".WebMercado"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>